.inner2
{
    height: 370px;
    width: 305px;
    margin-top: 0px;
    margin-left: 84px;
    margin-bottom: 20px;

    padding-top: 20px;
}
.inner1
{
    height: 491px;
    width: 244px;
    margin-top: -350px;
    margin-left: 390px;
    padding: 20px 40px 0px 30px;
}
